.topbar {
  background-color: skyblue;
  color: black;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
  padding-right: 10px;
}

.title {
  padding: 5px 1vw;
  font-size: x-large;
  line-height: 0px;
  font-weight: bold;
}

.menuIcon {
  max-width: 80%;
  max-height: 80%;
}

.sideBar {
  animation: slide 1s alternate;
}

@keyframes slide {
  from {
    top: 0;
    right: 0;
  }
  to {
    top: 0;
    right: -30vh;
  }
}
